<div class="contenedor-principal">

  
  <form class="container-formulario">

   
    <div #selectBox class="select-box select-transportista" desplegableCustom>
      <label class="labelMenuDesplegable">Transportista</label>
      <div class="select-option">
        <input
          #inputValor
          type="text"
          placeholder="Seleccionar Transportista"
          id="input_valor"
          [(ngModel)]="selectTransportistaId"
          [value]="selectTransportistaId !== 0 ? selectTransportistaId : ''"
          readonly
        />
      </div>

      <div class="content">
        <div class="buscador">
          <input type="text" id="OpcionBuscar" placeholder="Buscar" name="" />
        </div>

        <ul class="opciones">
          <li
            *ngFor="let transportista of listaTransportistas"
            (click)="onSelectTransportista(transportista.id_transportista)"
          >
            {{ transportista.apellido + " " + transportista.nombre }}
          </li>
        </ul>
      </div>
    </div>

    <div #selectBox class="select-box select-transportista" desplegableCustom>
      <label class="labelMenuDesplegable">Transportista</label>
      <div class="select-option">
        <input
          #inputValor
          type="text"
          placeholder="Seleccionar Transportista"
          id="input_valor"
          [(ngModel)]="selectTransportistaId"
          [value]="selectTransportistaId !== 0 ? selectTransportistaId : ''"
          readonly
        />
      </div>

      <div class="content">
        <div class="buscador">
          <input type="text" id="OpcionBuscar" placeholder="Buscar" name="" />
        </div>

        <ul class="opciones">
          <li
            *ngFor="let transportista of listaTransportistas"
            (click)="onSelectTransportista(transportista.id_transportista)"
          >
            {{ transportista.apellido + " " + transportista.nombre }}
          </li>
        </ul>
      </div>
    </div>

   

      <div class="container-input">
        <label for="">Fecha De Generación</label>
        <mat-form-field>
          <mat-label>Selecciona Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="fecha"
            id="fechaInput"
            [value]="ahora"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="checkEstado">
        <h5>Estado de Ticket</h5>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Pendiente
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Retiro Concluido
          </label>
        </div>
      </div>

      <div class="contenedor-vista-residuo">
        <div class="contenedorAux1"></div>
        <div class="contenedorAux2"></div>
      </div>
      <button type="submit" class="btn btn-primary btn-Submit">
        Siguiente
      </button>
  </form>
  </div>

