@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.checkEstado{
    text-decoration: underline;
    margin: 3vh 0;
}
.form-check{
    
    font-size: 80%;
}
.form-check-label{
    margin-left: 2vh;
}
.checkEstado,.container-input>label{
    font-size: 1.3rem;
    color: azure;
}
.btn-Submit{
    margin: 2vh;
}

.container-input {
    position: relative;
    overflow: hidden;
  }




#opciones-transportista{
   font-size: 2vh;
   
}
.container-input select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5vh; 
  padding: .5vh ; /* Ajusta el relleno de las opciones */

  }

  .container-input[_ngcontent-ng-c2466817047] > select[_ngcontent-ng-c2466817047] > option[_ngcontent-ng-c2466817047] {
    font-size: 2.5vh !important;
   padding: 0 10vh  !important;
 
}
  

  
mat-card{
   
    background: none;
    z-index: 999;
   
    
}
.contenedorAux1{
    position: absolute;
    width: 70%;
    height: 100%;
    background: rgb(105, 184, 153);
   
    z-index: 99;
    border-radius: 10% 70% 0 10%;
    
}

.contenedorAux2{
    position: absolute;
    right:0;
    width: 80%;
    height: 100%;
    background: rgba(36, 197, 98, 0.808);
    border-radius: 0 10% 10% 0;
    z-index: 9;
}
.contenedor-vista-residuo{

position: relative;
width: 100%;
height: auto;


}
.contenedor-principal{
    width: 100%;
    height: 90%;
    margin: 0 auto;
   /*  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; */
    
}

.btn-agregar{
    text-align: center;
    font-size: 2.5vh;
    background: rgb(61, 96, 212);
    width: max-content;
    height: fit-content;
    color: antiquewhite;
    z-index: 999;
    margin: 2vh auto;
}
.container-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
    height: 80%;
    width: 80%;
    padding: 2vh 2vw;
    background-color: rgb(25, 113, 190)};

#titulo{
    background: linear-gradient(rgba(0, 128, 0, 0.555) 90%,rgba(208, 230, 209, 0.658));
}

.container-formulario>*{
    width: 100%;
    margin: 2vh;
}
.container-input{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
  
}
.container-input>label{
  width: 50%;
  font-family: "Raleway", sans-serif;
  
}
.container-input>select,.container-input>input{
    width: 50%;
    text-align: center;
}
.container-input>select>option{
    font-size: 2.5vh;
}


@media screen and (max-width:750px) {
    .container-formulario{
        width: 100%;
    }
    .contenedorAux1{
        border-radius: .5vh 70% 0 .5vh;
    }
    
    .contenedorAux2{
        border-radius: 0 .5vh .5vh 0;
    }

    #opciones-transportista{
        font-size: 1vh;
        padding: 0;
     }
     select{
        width: 90%;
        margin-left: .5vh;
        padding: .5vh;
    
    }
     .container-input select {
      
        font-size: 2vh !important; 
        padding: 1vh !important; 
        box-sizing: border-box;
        position: relative;
        }
        .container-input select,
        .container-input input {
          width: 100%;
        }
        .container-input[_ngcontent-ng-c2466817047] > select[_ngcontent-ng-c2466817047] > option[_ngcontent-ng-c2466817047] {
           
            width: max-content;
            font-size: 2.7vh !important;
           
          
        }
        .container-input  {
            text-align: center;
        flex-direction: column;
        justify-content: center;
          }
       
        }

@media screen and (max-width:500px) {
    .container-formulario{
        width: 95%;
    }
   h2{
    font-size: 2.5vh;
    line-height: 1vh;
   }

   .container-input[_ngcontent-ng-c2466817047] > select[_ngcontent-ng-c2466817047] > option[_ngcontent-ng-c2466817047] {
           
    width: max-content;
    font-size: 1.3vh !important;
   
  
}
}

@media only screen and (max-width: 750px){
    .container-input {
        overflow: hidden; 
      }
    .container-input select option {
        position: absolute;
       
    
    
      }
      .container-input select {
        width: 125px; 
       
    
      }
  }

/* .invisible{
    display: none;
} */