
 label{
    font-weight: 600;
    color: aliceblue;
    
} 
.contenedor{
  width: 100%;  
  
}
input{
    color: rgb(172, 170, 166);
    background: rgb(2, 1, 2);
}
#titulo{
    background: #5c132f;
    color: rgb(214, 210, 205);
   
}



.mat-mdc-button:not(:disabled) {
    background: rgb(95, 95, 214);
    color: #eee7e7;
  }
  
#checkEstado{
    margin-top: 2vh;
}


@media screen and (min-width:1000px) {
    #direccion,#nombre,#cuit{
        width: 60%;
    }
}