<h2 id="titulo">{{ modoEdicion ? 'Edición de Generador' : 'Ingrese Nuevo Generador al Sistema' }}</h2>
<div class="contenedor-principal">


<div class="container">
  <form [formGroup]="formularioGenerador" (ngSubmit)="enviar()">
    
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre Titular</label>
      <input class="formulario" [ngClass]="{'is-invalid': hasErrors('nombre','required')}" type="text" class="form-control" id="nombre" formControlName="nombre">
      <div class="text-danger mensajeError" *ngIf="hasErrors('nombre','required')">
        Por favor Ingresa Nombre a Registrar
      </div>
    </div>

    <div class="mb-3">
      <label for="cuit" class="form-label">CUIL/CUIT</label>
      <input  [ngClass]="{'is-invalid': hasErrors('cuit','required')}" type="number" class="form-control" id="cuit" formControlName="cuit">
      <div class="text-danger mensajeError" *ngIf="hasErrors('cuit','required')">
        Ingrese Numero CUIT o CUIL
      </div>
      <div class="text-warning mensajeError" *ngIf="hasErrors('cuit','min')">
        Error!! Ingrese CUIT/CUIL con un valor a 11 digitos
      </div>
      <div class="text-warning mensajeError" *ngIf="hasErrors('cuit','max')">
        Error!! Ingrese CUIT/CUIL con un valor a 11 digitos
      </div>
    </div>

    <div class="mb-3">
      <label for="direccion" class="form-label">Direccion</label>
      <input  [ngClass]="{'is-invalid': hasErrors('direccion','required')}" type="text" class="form-control" id="direccion" formControlName="direccion">
      <div class="text-danger mensajeError" *ngIf="hasErrors('direccion','required')">
        Ingresar Direccion del Generador
      </div>
      <div id="checkEstado">
      <h5>Estado de Actividad</h5>

      <div class="form-check">
        <input class="form-check-input" type="radio"  value="Activo" formControlName="estadoActividad">
        <label class="form-check-label" for="flexRadioDefault1">
         Activo
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  type="radio" value="Sin actividad" formControlName="estadoActividad">
        <label class="form-check-label" for="flexRadioDefault2">
          Sin Actividad
        </label>
      </div>
    </div>
    </div>

    <button type="submit" class="btn btn-primary btn-Submit">{{ modoEdicion ? 'Aceptar Cambios' : 'Crear Generador' }}</button>
  </form>
</div>
</div>