
<h4 class="titulo">Hoja Ruta <span class="fechaHoja">{{primerDia.toLocaleDateString()}}</span><span class="fechaHoja">{{ultimoDia.toLocaleDateString()}}</span></h4>

<div class="tabla-contenedor">
  
    <table ngClass="tabla"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    
     
      <ng-container matColumnDef="id">
       
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
    
 
      <ng-container matColumnDef="fecha" >
        
        <td mat-cell *matCellDef="let element"> {{element.fechaEmisionTk | date : "fullDate" : undefined : "es"}}</td>
      </ng-container>
   
      <ng-container matColumnDef="estado" >
      
        <td mat-cell *matCellDef="let element" id="columna-estado"> 
          <img class="icons-estado" src="../../assets/icons/success.png" alt="success" *ngIf="element.estado">
          <img class="icons-estado"  src="../../assets/icons/warning.png" alt="" *ngIf="!element.estado">
          <span [ngClass]="{'activos':element.estado,'inactivos':!element.estado}">{{element.estado? "Finalizado": "Sin Procesar"}} </span></td>
      </ng-container>
  
        
      <ng-container matColumnDef="acciones">
    
        <td class="filaAcciones" mat-cell *matCellDef="let element">
          <a mat-button (click)="editarTicket()"> <img id="edit" src="../../assets/icons/edit.png" alt=""></a>
       <a mat-button (click)="eliminarTicket(element.id_Ticket)"><img src="../../assets/icons/delete.png" alt=""></a>
          
        </td>

      </ng-container>

      
      <tr mat-row  *matRowDef="let row  ; columns: columnas ; "></tr>

    
    </table>
  
  
  </div>


  
 