
 
 /*desplegable*/

 #titulo{
     background-color: rgba(32, 69, 233, 0.692);
   }
   h1{
     font-size: 100px;
   }
   .select-box {
    margin-bottom: 10px;
    animation: animacionDesdeAbajo 1s linear  1 normal ;
   }
.contenedor-principal{
  margin-bottom: 3vh;
  border-bottom: 2px groove rgb(161, 161, 157) ;
  
}
  

   @keyframes animacionDesdeAbajo {
    0%{
      transform: translateY(200%);
      opacity: 0;
    }
      50%{
        transform: translateY(25%);
        
      }

      75%{
        opacity: .5;
      }
   100%{
    transform:  translateY(0);
    opacity: 1;
   }
    } 
    