


  <div class="contenedor-lista">
    <ul class="contenedor-ul list-group">

  <!--       <li class="lista-grupo-item list-group-item" *ngFor="let tipo of ListaTipoResiduos" (click)="seleccionarTipoResiduo(tipo)" [ngClass]="{'activos': tipo.estado,'inactivos':!tipo.estado}"> -->


          <li class="item" *ngFor="let tipo of ListaTipoResiduos" (click)="seleccionarTipoResiduo(tipo)" [ngClass]="{'activos': tipo.estado,'inactivos':!tipo.estado}">
          <label class="form-check-label" for="{{tipo.id}}" ><img src="../../assets/icons/recicle.png" alt=""><span id="span-tipo">{{tipo.codigo.toUpperCase()}}</span> - {{tipo.nombre}}</label>
          
        </li>
        
      </ul>
  
  </div>


