@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.contenedor-principal {
    position: relative;
    padding: 20px;
    box-sizing: content-box;
    display: grid;
    grid-template-areas: "ruta ruta generador"
                        "ruta ruta generador"
                        "ruta ruta tipo";
    grid-gap: 20px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    z-index: 999;
    }

.contenedor-principal-flex {
    position: relative;
    padding: 10px;
    box-sizing: content-box;
    display: grid;
    grid-template-areas: "ruta ruta generador"
                        "ruta ruta generador"
                        "ruta ruta tipo";
    grid-gap: 40px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    z-index: 999;
    filter: opacity(0.90);
}

.contenedor-fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background: url(../../../assets/background/stacked-peaks-haikei.svg) ;
    width: 102%; 
   
}

.dashboard {

    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.generador {
    grid-area: generador;
    
    height: 55vh;
    align-self: start;
}

.hoja-ruta {
    grid-area: ruta;
    height: 85vh;
    align-self: start;
    width: 400px;
}

.hoja-ruta > .btn {
    margin-top: 20px;
}

.fechaHoja {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #161111;
    border: 2px solid rgb(151, 146, 146);
    font-style: oblique;
    padding: 8px;
    margin-left: 5px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    width: 80%;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 20px;
    color: rgb(19, 21, 22);
    text-wrap: nowrap;
}

.tipo-residuos {
    grid-area: tipo;
    width: 400px;
    height: 25vh;
}

.titulo {
    margin-top: 15px;
    display: inline-block;
    color: #181414;
    padding: 10px 6px;
    border-radius: 0 15px 15px 5px;
    margin-bottom: 10px;
    font-stretch: expanded;
    font-family: "Scada", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titulo.rotated::before {
    transform: rotate(0deg); /* Rotación de 0 grados cuando está en estado 'rotated' */
}

.contenedor {
    width: 450px;
    min-height: 70px;
    padding: 20px 5px 20px 5px;
    background-color: #f0f3f4;
    border-radius: 10px 5px;
    border: 3px  outset gray;
    filter: drop-shadow(0px 0px 2px rgb(238, 233, 233));
    align-items: center;
    z-index: 999;
  
    margin-bottom: 20px;
}

/* Estilos específicos para pantallas menores de 700px */
@media screen and (max-width: 700px) {
    .contenedor-fondo {
        width: 100%;
    }

    .contenedor-principal {
        display: flex;
        flex-direction: column;
        
        width: 100%;
       
        overflow: scroll;
        padding: 0;
    }

    .dashboard {
        display: none;
    }

    .contenedor {
       
        width: 95vw;
        height: max-content;
        max-height: 90vh;
        box-shadow: 0px 5px 1px 2px rgb(189, 187, 187);
        transition: height 0.5s ease, background-color 0.5s ease; /* Transiciones */
    }

    .contenedor.hidden {
        height: 80px;
        overflow: hidden;
       background-color: #5243d4;
    }

    .contenedor.hoja-ruta> .titulo{
      display: flex;
      
     align-items: center;
     flex-basis: 60%;
    }
    .contenedor.hidden.hoja-ruta> .titulo{
      
      height: 100%;
      flex-basis: 60%;
    }
    
    .contenedor.hidden.hoja-ruta> .titulo >span{
      position: relative;
     flex-basis: 30%;
     
    }

    .contenedor.hoja-ruta> .titulo >span{
    position: relative;
     flex-basis: 30%;
     
    }

    .contenedor.hidden> .titulo,     .contenedor.hidden> .titulo> span{
    color: rgb(235, 231, 231);
    }

    .contenedor:not(.hidden) {
      margin-top: 5vh;
        max-height: 100vh;
    }

    .contenedor:not(.hidden).generador {
        height: 50vh;
    }
    .contenedor:not(.hidden).hoja-ruta {
      height: 100vh;
  }

    .generador{
/*       margin-left: 5px;
 */    }
   
  .contenedor.hidden.tipo-Residuos,  .contenedor.hidden.generador
    ,.contenedor.hidden.hoja-ruta{
      height: 100px;
    }    
    .contenedor.contenedor.hidden.tipo-Residuos> .titulo, .contenedor.contenedor.hidden.generador> .titulo{
       font-size: 18px;
        height: 100%;
      }
    .contenedor:not(.hidden).tipo-Residuos{
      height: 200px;
    }
    .titulo {
        cursor: pointer;
    }

    .contenedor-principal-flex {
      padding: 5px;
      height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
        filter: opacity(1);
    }

    .titulo::before {
        text-align: center;
        width: 25px;
        height: 25px;
        top: 5px;
        left: 5px;
        position: absolute;
        font-size: 15px;
        content: ">";
        border-radius: 20%;
        border: 1px solid rgba(66, 64, 64, 0.562);
        background-color: #161111;
        color: white;
        border-radius: 50%;
        padding: 2px;
        padding-bottom: 10px;
        cursor: pointer;
        font-weight: 400;
        transition: all 0.25s ease;
    }

    .titulo.rotated::before {
        transform: rotate(90deg);
    }
}

/* Otros media queries para pantallas mayores de 700px */
@media screen and (min-width: 700px) and (max-width: 800px) {
    .contenedor-principal-flex,
    .contenedor-principal {
        grid-gap: 5px;
        margin-left: 10%;
    }

    .contenedor-fondo {
        width: 140%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .contenedor-principal,
    .contenedor-principal-flex {
        margin-left:10%;
    }

    .contenedor-fondo {
        width: 110%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .contenedor-fondo {
        width: 108%;
    }
}

@media screen and (min-width: 1100px) {


    .contenedor-principal,
    .contenedor-principal-flex {
        grid-column-gap: 50px;
    }
}