<div class="contenedor-fondo"></div>
<div class=" dashboard">

  <app-dashboard [url]="urlReport" [estiloContenedorPrincipal]="estiloDashboardGenerador" [titulo]="'Tickets Hoja Ruta'" [contador]="_contadorTicket"/>

  <app-dashboard [url]="urlReportWarning" [estiloContenedorPrincipal]="estiloDashboardTipo"  [titulo]="' Tickets de Lote Sin Procesar'" [contador]="_contadorTicketWarning"/>
  
</div>
<div class="contenedor-principal">

  <div class="hoja-ruta contenedor">
  
   <app-hoja-ruta-tickets (contadorTicket)="receptorContadorTicket($event.contador)" (contadorTicketWarning)="receptorContadorTicketWarning($event.contador)" #hojaRutaTickets/> 

  </div>

  <div class="ticket-formulario contenedor"><app-ticket-control-formulario (ticketCreado)="onTicketCreado()"> </app-ticket-control-formulario></div>
</div>
