
.contenedor-padre{
    position: relative;
    background-image: URL(../../../assets/background/clasificacionResiduos.jpeg);
  display: flex;
  flex-direction: column;

height: 100%;
}
.titulo{
    width: max-content;
    height: 8%;
    font-size: large;
}
.contenedor-lista-wrapper{
    position: relative;
    flex-direction: column;
   

    height: 100%;
   
}
 .contenedor-lista{

    overflow-y: auto;
    padding: 20px 0;
  
} 

.contenedor-contenido{
    height: 100%;
    flex-direction: row;
}

.item-lista{
    height: 20%;
    width: 70%;
    background-color: rgba(24, 24, 24, 0.89);
    box-shadow: 5px 2px 1px 1px rgba(0, 0, 0, 0.747);
 
}

.toggle{
    transform: none;
    transform: scale(1.5);
}
.btn-add{
 
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  border-radius: 5px;
  border: none;

  bottom:  0px;
  background: linear-gradient(45deg, rgb(69, 212, 112),rgba(22, 97, 22, 0.726));
  color: aliceblue;
 filter: drop-shadow(1px 1px 1px Black);
 
}
.btn-add::before{
  content: "+";
  font-size: 30px;
  margin-right: 5px;
}
.titulo
{
    font-size: 20px;
    text-align: start;
}

.contenedor-formulario{
    flex: 1; 
  
    height: 80%;
  border-left: 1px solid rgba(128, 128, 128, 0.493);
  padding: 20px 30px;
}


.contenedor-botones{
  
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-18%, -50%);
    display: flex;
    flex-direction: column;
    height: 10vh;
    opacity: 0;
}
.contenedor-botones{
    z-index: 999;
}

.agregar{
    margin-top: 20px;
    background: linear-gradient(45deg, rgb(243, 2, 2),rgb(214, 67, 9));
    font-size: 20px;
    color: aliceblue;
    width: 100%;
   }

   .item-lista.activo,.item-lista.activo::before,.item-lista.activo:nth-child(even)::before {
    background-color: rgb(253, 253, 253);
    color: rgb(24, 16, 16);
    transition: all .1s linear;
  }
  
@media screen and (max-width:1200px) {
    .contenedor-botones{
        left: 0%;
    }

   
}

@media screen and (min-width:1000px) {
    .btn-add{
        width: max-content;
        align-self: center;
    }
}