.contenedor-principal{
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "ruta ruta generador" 
                        "ruta ruta generador"              
                        
                         "ruta ruta tipo";
                     
                      
  grid-gap: 20px;
  grid-template-rows: repeat(auto-fill,1fr);
  grid-template-columns: repeat(auto-fill,2fr);
}
.dashboard{
   height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.generador{

    grid-area: generador;
 
}

.hoja-ruta{

    grid-area: ruta;
    height: 100%;

}


.hoja-ruta> .btn{
margin-top: 20px;
}

.tipo-residuos{
    grid-area: tipo;

}
.titulo{
    display: inline-block;
 background-color: rgb(238, 242, 245);
 padding: 10px 6px;
 border-radius: 0 15px 15px 5px;
 margin-bottom: 10px;
}

.contenedor{
 
    padding: 20px;
background-color: #e3e7f1;
    border-radius: 10px 5px;
/*   display: flex;
  flex-direction: column; */
     filter: drop-shadow(0px 0px 2px rgb(238, 233, 233)); 
 align-items: center;
}

@media screen and (max-width: 700px) {
    
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
        padding: 0;
    }

  .dashboard{
    display: none;
  }
  .contenedor{
    width: 95vw;
  }
 
}

@media screen and (max-width: 1000px) {
    .contenedor-principal{
        padding: 10px;
    }
}

@media screen and (min-width:700px) {
    .hoja-ruta{
        display: flex;
        flex-direction: column;
    }
    .hoja-ruta> app-hoja-ruta-tickets{
   
        border-bottom: 2px solid gray  ;
        
        }
}