/* 
  .contenedor-principal{

   
   overflow-y: scroll;
    display: block;
    width: 700px;
  }
   */
  
 


  @media screen and (max-width: 600px) {
   *{
    font-size: 90%;
    font-weight: 800;
   }
  

  }